*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*cabecalho*/
.cabecalho{
    background: gainsboro;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.logo{
    justify-self: center;
}
.navegacao{
    align-self: center;
}
.navegacao li{
    display: inline-block;
    margin: 0 10px;
}
.navegacao a{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: black;
}
.navegacao a:hover{
    color:royalblue;
}

/*formulario*/
.formulario{
    display: grid;
    grid-template-columns: 1fr;
    width: 50%;
    margin: 100px auto;
    padding: 18px;
    border: solid;
    border-radius: 10px;
}
.formulario form{
    background-color: gainsboro;
    border: solid;
    border-radius: 10px;
    padding: 18px;
}
.formulario h1{
    text-align: center;
}
.formulario label{
    display: block;
    margin-top: 30px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}
.formulario input, select, option{
    display: block;
    margin-bottom: 20px;
    padding: 10px;
    width: 100%;
    font-size: 20px;
    text-align: center;
}
.formulario a{
    text-decoration: none;
}

/*tabela*/
.tabela{
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    margin: 0px  10% 10% 100px;
    border: solid;
    padding: 20px;
    border-radius: 10px;
}
.tabela th{
    background: gainsboro;
    border: solid;
    padding: 5px;
    text-transform: uppercase;
}
.tabela td{
    border: solid;
    padding: 2px;
    text-transform: capitalize;
}

/*rodape*/
.rodape{
    background: gainsboro;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.logo{
    justify-self: center;
}
.contato{
    align-self: center;
    justify-self: center;
}
.contato li{
    padding: 10px 0;
    list-style: none;
   
}
.contato a{
    text-align: center;
    text-decoration: none;
    color: black;
}
.contato img{
    width: 30px;
}

/*identificadores*/
.pesquisar{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-self: end;
    margin-left: 50%;
    width: 50%;
    column-gap: 50px;
}
.ordenar{
   all: revert;
   padding: 3px;
   font-weight: bold;
   background: gainsboro;
   border-radius: 10px;
   grid-row: 2;
}
.ordenar:hover{
    color: royalblue;
 }
 .filtrar{
    grid-row: 2; 
 }
.filtrar input{
    width: 100%;
    padding: 3px;
    font-weight: bold;
    background-color: gainsboro;
    border-radius: 10px;
}
.filtrar input:hover{
    color: royalblue;
}
.relatorio input{
    width: 100%;
    padding: 3px;
    font-weight: bold;
    background-color: gainsboro;
    border-radius: 10px;
}

.movimentacaoPesquisar{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-self: center;
    width: 60%;
    margin-left: 40%;
    column-gap: 50px;
}
.movimentacaoListarOrdenar{
   all: revert;
   padding: 3px;
   font-weight: bold;
   background: gainsboro;
   border-radius: 10px;
   grid-column: 1;
   grid-row: 2;
}
.movimentacaoListarOrdenar:hover{
    color: royalblue;
   
 }
 .movimentacaoFiltrar{
    grid-row: 2; 
 }
.movimentacaoFiltrar input{
    width: 100%;
    padding: 3px;
    font-weight: bold;
    background-color: gainsboro;
    border-radius: 10px;
    grid-row: 2;
}
.movimentacaoFiltrar input:hover{
    color: royalblue;
}
.movimentacaoRelatorio{
    grid-row: 2; 
}
.movimentacaoRelatorio input{
    width: 100%;
    padding: 3px;
    font-weight: bold;
    background-color: gainsboro;
    border-radius: 10px;
    grid-column: 3;
    grid-row: 2;
}
.movimentacaoRelatorio input:hover{
    color: royalblue;
}

#buscar{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 30%;
    margin: 100px 0 20px 60%;
    column-gap: 50px;
}
#buscar input{
    text-align: center;
    padding: 3px;
    background: gainsboro;
    border-radius: 10px;
    font-weight: bold;
    
}
#buscar input:hover{
    color: royalblue;
}
